.rightbar{
    flex: 3.5;
}
.rightBarWrapper{
    padding: 20px 20px 0 0;
}
.bdyImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.bdyText{
    font-weight: 300;
    font-size: 15px;
}
.birthdayContainer{
    display: flex;
    align-items: center;
}
.rightBarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rightBarFriendsList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rightBarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightBarProfilePicContainer{
    margin-right:10px;
    position: relative;
}
.rightBarProfilePic{
    width: 40px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.rightBarTitle{
    margin-bottom: 20px;
}
.rightBarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: -2px;
    right: -1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid white;
}
.rightBarUserName{
    font-weight: 700;

}