.login{
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}
.loginLeft, .loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogo{
    font-size: 50px;
    font-weight: 600;
    color: #1775ee;
    margin-bottom: 10px;
}
.loginDesc{
    font-size: 24px;

}

.loginBox{
    height: 400px;
    padding: 20px;
    background-color:white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.loginInput{
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.loginInput:focus{
    outline: none;   
}

.loginBtn{
   border: none;
   height: 50px;
   border-radius:10px;
   font-size: 20px;
   font-weight: 500;
   color: white;
   cursor: pointer;
   background-color: #1775ee;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}
.loginForgot{
    text-align: center;
    color: #1775ee;
    font-weight: 600;
}
.loginRegister{
    width: 60%;
    align-self: center;
    border: none;
   height: 50px;
   border-radius:10px;
   font-size: 20px;
   font-weight: 500;
   color: white;
   cursor: pointer;
   background-color: #42b72a;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}